@media screen  and (min-width: 100px) and (max-width: 600px) {
        #title {
          font-size: 1.6em;
        }
        #search-area {
          margin-left: 20px;
        }
        #side-view {
          width: 50%;
        }
        li {
          width: 100%;
        }
}
@media screen and (min-width: 601px) and (max-width: 1200px) {
        #side-view {
          height: 70%;
          overflow: hidden;
        }
}
