html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  position: relative;
}

#map {
  height: 100%;
  width: 100%;
  position: absolute;
}

#search-box {
  background: lightgray;
}

li {
  list-style: none;
}

#list-item:hover {
  background: lightblue;
  cursor: pointer;
}

#pano {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

#windowName{
  margin: 0 auto;
}

.windowStyles {
  font-size: 16px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

.windowStyles a:hover {
  color: blue;
}
