* {
  box-sizing: border-box;
}

html,
body,
#map {
  font-family: Arial, sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: absolute;
}

#title {
  text-transform: uppercase;
}

#side-view {
  position: absolute;
  background: lightblue;
  opacity: .7;
  border: 1px solid black;
  height: 70%
}

#side-view-btn {
  position: absolute;
  z-index: 10;
  background-color: lightgreen;
  width: 100px;
  width: 150px;
}

#search-box {
  background: lightgray;
}

.restaurantList {
  overflow: scroll;
  width: 100%;
  height: 70%
}

li {
  list-style: none;
}

#list-item:hover {
  background: lightblue;
  cursor: pointer;
}

#pano {
  width: 200px;
  height: 200px;
  margin: 0 auto;
}

#windowName{
  margin: 0 auto;
}

.windowStyles {
  font-size: 16px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: black;
}

.windowStyles a:hover {
  color: blue;
}
