html,
body {
  font-family: Arial, sans-serif;
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  height: 100%;
  position: relative;
}

#map {
  height: 100%;
  width: 100%;
  position: absolute;
}

#search-box {
  background: lightgray;
}

li {
  list-style: none;
}

#list-item:hover {
  background: lightblue;
  cursor: pointer;
}
